
/* membuat posisi form berada di tengah */
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFD8A9;
    font-family:Arial, Helvetica, sans-serif;
    flex-direction: column;
}

ul{
    /* menghapus padding default */
    padding: 0%;
}

li{
    /* menghilangkan titik pada list */
    list-style: none;
    margin: 12px;
    background-color: #FFF38C;
    padding: 6px;
    padding-left: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input{
    border: none;
    padding: 10px;
    border-radius: 10px;
}

button{
    border: none;
    background-color: #319DA0;
    color: white;
    padding: 10px;
    border-radius: 10px;
    
}

#container{
    /* membuat posisi text berada di tengah */
    text-align: center;

    /* memberi space antara garis dengan isi form */
    padding: 30px;

    /* membuat sudut form melingkar */
    border-radius: 20px;

    /* membuat warna latar belakang putih */
    background-color: #FDEEDC;

    /* membuat posisi berada di tengah */
    margin-top: 3%;
}

#warning{
    background-color: red;
    color: white;
    border-radius: 6px;
    /* visibility: hidden; */
    display: none;
}

#success{
    background-color: lightgreen;
    color: black;
    border-radius: 6px;
    /* visibility: hidden; */
    display: none;
}

#warning p{
    padding: 3px;
}

#success p{
    padding: 3px;
}

#remove{
    background-color: red;
}

