/* membuat posisi form berada di tengah */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffd8a9;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
}

ul {
    /* menghapus padding default */
    padding: 0%;
}

li {
    /* membuat efek bayangan */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* menghilangkan titik pada list */
    list-style: none;
    margin: 12px;
    background-color: #fff38c;
    padding: 6px;
    padding-left: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
}

input {
    border: none;
    padding: 10px;
    border-radius: 10px;
}

button {
    border: none;
    background-color: #319da0;
    color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

button:hover {
    cursor: pointer;
}

#container {
    /* membuat posisi text berada di tengah */
    text-align: center;

    /* memberi space antara garis dengan isi form */
    padding: 30px;

    /* membuat sudut form melingkar */
    border-radius: 20px;

    /* membuat warna latar belakang putih */
    background-color: #fdeedc;

    /* membuat posisi berada di tengah */
    margin-top: 3%;

    /* membuat efek bayangan  */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    display: block;
}

#warning {
    background-color: red;
    color: white;
    border-radius: 6px;
    /* visibility: hidden; */
    display: none;
}

#success {
    background-color: lightgreen;
    color: black;
    border-radius: 6px;
    /* visibility: hidden; */
    display: none;
}

#Delete{
    background-color: lightgreen;
    color: black;
    border-radius: 6px;
    /* visibility: hidden; */
    display: none;
}

#DeleteAll{
    background-color: lightgreen;
    color: black;
    border-radius: 6px;
    /* visibility: hidden; */
    display: none;
}

#warning p{
    padding: 3px;
}

#success p {
    padding: 3px;
}

#Delete p{
    padding: 3px;
}

#DeleteAll p{
   padding: 3px;
}

#remove{
    background-color: red;
}

#removeAll{
    background-color: red;
}

